{% extends "base.html" %}
{% block linkstyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'kopdata/style.css' %}" />
{% endblock %}

{% block content %}
{% load staticfiles %}

<tr><td style="PADDING-LEFT: 0px; PADDING-TOP: 8px; PADDING-BOTTOM: 0px">
	<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
	<tr> 	
	<td style="PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px">
	<p><font style="font-size:16px" face="Arial" color="000000">靠谱基因数据使用Redshift数据库，数据存储在专为大数据设计的大型数据库
。临床与癌症表型数据实现了与高通量数据之间的无缝连接，可以在查看患者的高通量数据的同时，查看患者的临床以及癌症表型信息。实现了高通量数据之间的无缝连接，
可以同时检索癌症病人的正常和癌变组织的多项高通量数据。以下是一些应用例子。
	</font></p>			
	</td></tr>
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>	
	<tr><td align = "left" valign = "top" style="PADDING-TOP: 20px; PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
		<b>案例1</b>： 患者被诊断为乳腺癌，癌变组织和正常组织相比TP53基因出现变异，TP53基因变异是Missense_Mutation。 用户需要查找符合以上条件病人的部分临床特征（性别，国籍，是否复发，存活天数）			
	</td></tr>
	<tr><td align = "left" valign = "top" style="PADDING-TOP: 10px; PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
		该查找需要涉及两类数据：临床数据和体细胞DNA变异数据。以下是结果：
		<br><br>
		<img src="{% static "kopdata/images/case1.jpg" %}"><br><br>
	</td></tr>
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>
	<tr><td align = "left" valign = "top" style="PADDING-TOP: 20px; PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
		<b>案例2</b>： 患者被诊断为乳腺癌，癌变组织和正常组织相比TP53基因出现变异，TP53基因变异是Missense_Mutation。 
		MDM2是TP53的下游基因，TP53对MDM2表达起到负调控的作用，客户需要了解在TP53发生变异之后，MDM2的mRNA的表达量是否发生变化。
		因此客户需要检索出符合以上检索条件的病人的部分临床特征（国籍，是否存活，存活天数）以及MDM2分别在该病人正常组织和癌变组织中mRNA的表达量。			
	</td></tr>
	<tr><td align = "left" valign = "top" style="PADDING-TOP: 10px; PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
		这个检索需要涉及临床，癌症表型，DNA变异，以及mRNA表达量的数据。从下表结果可以看出，TP53基因发生变异之后，并非所有病人的MDM2的表达量都升高，但是表达量升高的病人的存活天数远远小于表达量没有改变的病人。提醒医生，在发现病人TP53变异之后，还需要进一步检查了解这个变异是否影响到下游基因的表达，以便采取采取正确的治疗方案。
		<br><br>
		<img src="{% static "kopdata/images/case2.jpg" %}">
	</td></tr>	
	</table>
</td></tr>
{% endblock %}
