{% extends "base.html" %}

{% block scripts %}
<script language="JavaScript1.2">

//IFRAME TICKER- By Dynamic Drive (http://www.dynamicdrive.com)

//configure delay between changing messages (3000=3 seconds)
var delay=12000

var ie4=document.all

var curindex=0
var totalcontent=0

function get_total(){
if (ie4){
while (eval("document.all.content"+totalcontent))
totalcontent++
}
else{
while (document.getElementById("content"+totalcontent))
totalcontent++
}
}

function contract_all(){
for (y=0;y<totalcontent;y++){
if (ie4)
eval("document.all.content"+y).style.display="none"
else
document.getElementById("content"+y).style.display="none"
}
}

function expand_one(which){
contract_all()
if (ie4)
eval("document.all.content"+which).style.display=""
else
document.getElementById("content"+which).style.display=""
}

function rotate_content(){
get_total()
contract_all()
expand_one(curindex)
curindex=(curindex<totalcontent-1)? curindex+1: 0
setTimeout("rotate_content()",delay)
}

window.onload=rotate_content

</script>
{% endblock %}

{% block linkstyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'kopdata/style.css' %}" />
{% endblock %}

{% block content %}
{% load staticfiles %}
<tr><td>

<div id="content0" style="display:none">

<!-- ADD TICKER's CONTENT #1 HERE--------------------->

<!--p align="left"---->
<table width = 980 border="0" cellspacing="0" cellpadding="0" bgColor=#D6E3BC>
<tr><td style="PADDING-LEFT: 4px; PADDING-TOP: 4px; PADDING-BOTTOM: 4px">
<IMG border=0 src="{% static "kopdata/images/slide1.jpg" %}"></td>
<td valign = "top" style="PADDING-TOP: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px" bgColor=#D6E3BC>
<font style="font-size:22px" face="Arial" color="000000">
靠谱基因数据是面向精准医疗和基因诊断的基因大数据供应商。我们围绕客户的需求，提供更可靠，更精准和更有效率的大数据解决方案。
我们的数据整合了癌症病人的基因组学和临床治疗信息，包括全基因组DNA序列、全外显子组DNA序列、表达谱、小RNA、表观遗传修饰、蛋白质组、代谢组检测，用药反应等。
</font>
</td></tr>
</table>
<!--/p--->

<!-- END CONTENT #1----------------->

</div>

<div id="content1" style="display:none">

<!-- ADD TICKER's CONTENT #2 HERE--------------------->

<!--p align="left"---->
<table width = 980 border="0" cellspacing="0" cellpadding="0" bgColor=#D6E3BC>
<tr><td style="PADDING-LEFT: 4px; PADDING-TOP: 4px; PADDING-BOTTOM: 4px">
<IMG src="{% static "kopdata/images/slide3.jpg" %}" style = "width:682px"></td>
<td align = "left" valign = "top" style="PADDING-TOP: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px" bgColor=#D6E3BC>
<font style="font-size:22px" face="Arial" color="000000">
靠谱基因数据是面向精准医疗和基因诊断的基因大数据供应商。我们围绕客户的需求，提供更可靠，更精准和更有效率的大数据解决方案。
我们的数据整合了癌症病人的基因组学和临床治疗信息，包括全基因组DNA序列、全外显子组DNA序列、表达谱、小RNA、表观遗传修饰、蛋白质组、代谢组检测，用药反应等。
</font>
</td></tr>
</table>
<!--/p--->

<!-- END CONTENT #2----------------->

</div>

<div id="content2" style="display:none">

<!-- ADD TICKER's CONTENT #3 HERE--------------------->

<!--p align="left"-->
<table width = 980 border="0" cellspacing="0" cellpadding="0" bgColor=#D6E3BC>
<tr><td style="PADDING-LEFT: 4px;PADDING-TOP: 4px; PADDING-BOTTOM: 4px">
<IMG src="{% static "kopdata/images/slide2.jpg" %}" style = "width:682px"></td>
<td valign = "top" style="PADDING-TOP: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px" bgColor=#D6E3BC>
<font style="font-size:22px" face="Arial" color="000000">
靠谱基因数据是面向精准医疗和基因诊断的基因大数据供应商。我们围绕客户的需求，提供更可靠，更精准和更有效率的大数据解决方案。
我们的数据整合了癌症病人的基因组学和临床治疗信息，包括全基因组DNA序列、全外显子组DNA序列、表达谱、小RNA、表观遗传修饰、蛋白质组、代谢组检测，用药反应等。
</font>
</td></tr>
</table>
<!--/p--->

<!-- END CONTENT #3----------------->

</div>

<div id="content3" style="display:none">

<!-- ADD TICKER's CONTENT #4 HERE--------------------->

<!--p align="left"-->
<table width = 980 border="0" cellspacing="0" cellpadding="0" bgColor=#D6E3BC>
<tr><td style="PADDING-LEFT: 4px;PADDING-TOP: 4px; PADDING-BOTTOM: 4px">
<IMG src="{% static "kopdata/images/slide4.jpg" %}" style = "width:682px"></td>
<td valign = "top" style="PADDING-TOP: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px" bgColor=#D6E3BC>
<font style="font-size:22px" face="Arial" color="000000">
靠谱基因数据是面向精准医疗和基因诊断的基因大数据供应商。我们围绕客户的需求，提供更可靠，更精准和更有效率的大数据解决方案。
我们的数据整合了癌症病人的基因组学和临床治疗信息，包括全基因组DNA序列、全外显子组DNA序列、表达谱、小RNA、表观遗传修饰、蛋白质组、代谢组检测，用药反应等。
</font>
</td></tr>
</table>
<!--/p--->

<!-- END CONTENT #4----------------->

</div>
</td></tr>
<tr><TD height=22></TD></tr>

<tr><td>
	<table width = "100%" height = 22 border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
	<tr> 	
	<td valign = "top" width = "33%" style="PADDING-LEFT: 0px; PADDING-RIGHT: 20px"><A href="dataanalysis.htm" TARGET="_self"><font style="font-size:22px" face="Arial" color="000099">数据分析服务</font></a><br><br>
 		<font style="font-size:16px" face="Arial" color="000000">
		利用我们提供的分析工具， 您可以将癌症患者的基因数据，其它遗传和用药数据与我们的数据进行多方面的比较，确诊致病因素并选定对患者最有效的用药方案。	
		</font>
	</td>
	<td valign = "top" width = "33%" style="PADDING-LEFT: 0px; PADDING-RIGHT: 20px"><A href="datashare.htm" TARGET="_self"><font style="font-size:22px" face="Arial" color="000099">
	数据整合服务</font></a><br><br>
		<font style="font-size:16px" face="Arial" color="000000">
		如果您的电子病历系统无法检索基因检测结果。我们的数据平台正好可以弥补这方面的不足。您可以通过建造数据交换的软件界面，形成新一代的，面向精准医疗的信息平台。
		</font>
	</td>
	<td valign = "top" width = "33%" style="PADDING-LEFT: 0px; PADDING-RIGHT: 20px"><A href="datashare.htm" TARGET="_self"><font style="font-size:22px" face="Arial" color="000099">
	数据应用服务</font></a><br><br>
 		<font style="font-size:16px" face="Arial" color="000000">
		通过我们的平台，您的数据将可以为更多的客户服务，您只须专心于数据采集的工作，我们为您完成数据管理，开拓用户市场的工作。
		</font>
	</td>
	</table>
</td></tr>
{% endblock %}
