{% extends "base.html" %}
{% block linkstyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'kopdata/style.css' %}" />
{% endblock %}

{% block content %}
{% load staticfiles %}
{% if request.user.is_authenticated %}
<tr><td style="PADDING-TOP: 8px;">
	<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
	<tr><td style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">
		<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr><td align="left" width="74%" style="PADDING-LEFT: 10px; PADDING-TOP: 10px; PADDING-BOTTOM: 10px;PADDING-RIGHT: 10px"><font style="font-size:16px" face="Arial" color="000000">个人信息：</font></td>
		<td align="right" width="13%" style="PADDING-TOP: 10px; PADDING-BOTTOM: 10px;PADDING-RIGHT: 10px"><a href="edit_user.html" TARGET="_self">修改个人信息</a></td>
		<td align="right" width="13%" style="PADDING-TOP: 10px; PADDING-BOTTOM: 10px;PADDING-RIGHT: 10px"><a href="pwpwpw.html" TARGET="_self">改变密码</a></td></tr>
		</table>		
	</td></tr>
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>
	{% if user_data %}
	<tr><td>
		<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">		
		<tr><td align = "left" style="PADDING-TOP: 10px;PADDING-LEFT: 10px">用户名:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ request.user.username }}</td>
		<td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">电子邮件:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ request.user.email }}</td></tr>		
		<tr><td align = "left" style="PADDING-TOP: 10px; PADDING-LEFT: 10px">姓:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ request.user.last_name }}</td>
		<td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">名:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ request.user.first_name }}</td></tr>
		<tr><td align = "left" style="PADDING-TOP: 10px; PADDING-LEFT: 10px">电话:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ user_data.phone }}</td>
		<td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">职务:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ user_data.title }}</td></tr>
		<tr><td align = "left" style="PADDING-TOP: 10px; PADDING-LEFT: 10px">公司:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ user_data.company }}</td>
		<td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">地址:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ user_data.address }}</td></tr>
		<tr><td align = "left" style="PADDING-TOP: 10px; PADDING-LEFT: 10px">城市:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ user_data.city }}</td>
		<td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">省份:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ user_data.state }}</td></tr>
		<tr><td align = "left" style="PADDING-TOP: 10px; PADDING-LEFT: 10px">国家:</td><td style="PADDING-TOP: 10px;PADDING-LEFT: 10px">{{ user_data.country }}</td><td></td><td></td></tr>
		</table>
	</td></tr>
	{% else %}
		<tr><td>No data are available.</td></tr>
	{% endif %}
	</td></tr>
	</table>
</td></tr>
{% else %}
<tr><td style="PADDING-TOP: 8px;">
<p><font style="font-size:16px" face="Arial" color="000000">您必须登录，才可显示内容。</p>
{% endif %}
{% endblock %}
