{% extends "base.html" %}
{% block linkstyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'fend/style.css' %}" />
{% endblock %}

{% block content %}
{% load staticfiles %}
{% if request.user.is_authenticated %}
<tr><td style="PADDING-LEFT: 0px; PADDING-TOP: 10px; PADDING-BOTTOM: 0px">
	<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">	
	<tr><td align = "left" valign = "center" style="PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-TOP: 10px;">
	<font style="font-size:16px" face="Arial" color="000000">添加数据，请提交以下信息: </font></td></tr>
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>
	<tr><td align = "left" valign = "center" style="PADDING-RIGHT: 20px; PADDING-LEFT: 10px; PADDING-TOP: 10px;">
	<form action="adddata.htm" method="post">
	{% csrf_token %}
		<table width = "780" border = "0">
  		<tr><td align = "left" style="PADDING-TOP: 10px;">{{form.data_name.label_tag}}</td><td>{{ form.data_name }}</td><td>{{form.data_des.label_tag}}</td><td>{{ form.data_des }}</td></tr>
		<tr><td align = "left" style="PADDING-TOP: 10px;">{{form.gender.label_tag}}</td><td>{{ form.gender }}</td><td>{{form.smoke_status.label_tag}}</td><td>{{ form.smoke_status }}</td></tr>
		<tr><td align = "left" style="PADDING-TOP: 10px;">{{form.sick_type.label_tag}}</td><td>{{ form.sick_type }}</td><td>{{form.life_status.label_tag}}</td><td>{{ form.life_status }}</td></tr>
		<tr><td align = "left" style="PADDING-TOP: 10px;">{{form.patho_status.label_tag}}</td><td>{{ form.patho_status }}</td><td>{{form.ICDO3.label_tag}}</td><td>{{ form.ICDO3 }}</td></tr>
		<tr><td align = "left" style="PADDING-TOP: 10px;"><input type="submit" value="提交"></td><td></td><td></td><td></td></tr>
		</table>
	</form> 
	</td></tr>	
	</table>
</td></tr>
{% else %}
<tr><td style="PADDING-TOP: 8px;">
<p><font style="font-size:16px" face="Arial" color="000000">您必须登录，才可显示内容。</p>
{% endif %}
{% endblock %}
