from __future__ import unicode_literals

{% extends "base.html" %}
{% block linkstyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'fend/style.css' %}" />
{% endblock %}

{% block content %}
{% load staticfiles %}
{% if request.user.is_authenticated %}
<tr><td style="PADDING-TOP: 8px;">
	<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
	<tr><td style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px;PADDING-RIGHT: 10px">
		<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr><td align="left"><font style="font-size:16px" face="Arial" color="000000">数据列表：</font></td>
		<td align="right"><a href="adddata.html" TARGET="_self">添加数据</a></td></tr>
		</table>
	</td></tr>
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>
	{% if user_data_list %}
		<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr><td width="3%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">#</td>
		<td width="18%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">名称</td>
		<td width="20%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">癌症类型</td>
		<td width="40%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">描述</td>
		<td width="19%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">输入日期</td></tr>
		<tr><td width="3%" bgColor = #22B14C height = 1></td>
		<td width="18%" bgColor = #22B14C height = 1></td>
		<td width="20%" bgColor = #22B14C height = 1></td>
		<td width="40%" bgColor = #22B14C height = 1></td>
		<td width="19%" bgColor = #22B14C height = 1></td></tr>
		{% for data in user_data_list %}
		<tr><td width="3%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">{{ data.id }}</td>
		<td width="18%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px"><a href="/fend/{{ data.id }}/mydetail.html">{{ data.data_name }}</a></td>
		<td width="20%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">{{ data.getSickTypeStr }}</a></td>
		<td width="40%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">{{ data.data_des }}</a></td>
		<td width="19%" style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">{{ data.create_date }}</a></td></tr>
		{% endfor %}
		</table>
	{% else %}
		<tr><td style="PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px">No data are available.</td></tr>
	{% endif %}
	</td></tr>
	</table>
</td></tr>
{% else %}
<tr><td style="PADDING-TOP: 8px;">
<p><font style="font-size:16px" face="Arial" color="000000">您必须登录，才可显示内容。</p>
{% endif %}
{% endblock %}
