<!DOCTYPE html>
<html>
<HEAD><TITLE>靠谱基因数据</TITLE>
<style>p0 {display: block; margin-top: 6px; margin-bottom: 6px; margin-left: 0; margin-right: 0;}
p1 {display: block; margin-top: 6px; margin-bottom: 6px; margin-left: 1.5em; margin-right: 0;}
p2 {display: block; margin-top: 6px; margin-bottom: 6px; margin-left: 3em; margin-right: 0;}</style>

{% load staticfiles %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-16"></HEAD>
<body width:980px bgcolor="#FFFFFF" alink="#FF0000" vlink="#0000FF" link="#0000FF" text="#000000" topmargin="2px" leftmargin="25px">
<table align = "center" valign = "top" width = "980px" border="0" cellspacing="0" cellpadding="0" background = "{% static "fend/images/header.jpg" %}" style="background-repeat:no-repeat;">
<tr><td height = "18" align="right" valign = "top" style="PADDING-RIGHT: 5px;">
	<table align = "right" valign = "top" width = "430px" border="0" cellspacing="0" cellpadding="0">
	<tr>
		{% if request.user.username %}
		<td align = "left" style="PADDING-TOP: 0px;">
		Welcome {{ request.user.username }}! 
		</td><td align="right" style="PADDING-RIGHT: 5px;"><a href="logout">logout</a></td>
		{% else %}
		<td align = "left" style="PADDING-TOP: 0px;">
		Welcome to Kop Genome!
		</td><td align="right" style="PADDING-RIGHT: 5px;"><a href="logout">login</a></td>
		{% endif %}		
	</tr>
	</table>
</td></tr>

<tr><td><p0 align="left">
<table width = "980" border = "0">
<tr><td height = "54" align = "right" valign = "center" style="PADDING-RIGHT: 20px;">
<form action="action_page.htm" method="post">
  <input type="text" name="filename" value="" size = "56">&nbsp<input type="submit" value="搜索">
</form> 
</td></tr>
</table>
</td></tr>

<tr><td bgcolor="#009999" height = 32>
	<table width = "100%" height = 30 border="0" cellspacing="0" cellpadding="0" bgcolor="#22B14C">
	<tr><TD align=left width=50% height=30 bgColor=#22B14C style="PADDING-LEFT: 10px;PADDING-BOTTOM: 0px" ><font face="Arial" style="font-size:16px" color="#FFFFFF">&nbsp更可靠, 更精准, 更有效率</font></TD> 	
	<td>
		<table bgcolor="#22B14C" border="0" cellspacing="0" cellpadding="0">
		<TR height = 30>
		<TD align = "right" width = 10% height=30 bgColor=#22B14C><B><A href="index.html" TARGET="_self"><font face="Arial" style="font-size:16px">首页</font></A></B></TD> 
		<TD align = "right" width = 10% height=30 bgColor=#22B14C><B><A href="dataanalysis.htm" TARGET="_self"><font face="Arial" style="font-size:16px">数据分析</font></A></B></td>
		<TD align = "right" width = 10% height=30 bgColor=#22B14C><B><A href="dataintegrate.htm" TARGET="_self"><font face="Arial" style="font-size:16px">解决方案</font></A></B></td>
		<TD align = "right" width = 10% height=30 bgColor=#22B14C><B><A href="datashare.htm" TARGET="_self"><font face="Arial" style="font-size:16px">加盟我们</font></A></B></td>
		<TD align = "right" width = 10% height=30 bgColor=#22B14C style="PADDING-RIGHT: 5px"><B><a href="about_us.htm" target="_self"><font face="Arial" style="font-size:16px">关于我们</a></B></td>
		</tr>
		</table>
	</td></tr>
	</table>
</td></tr>

<tr><td>
	<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
	<tr> 	
	<td style="PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px">
	<p><font style="font-size:16px" face="Arial" color="000000">利用我们提供的分析工具，您可以将癌症患者的基因数据，其它遗传和用药数据与我们的数据进行多方面的比较，确诊致病因素并选定对患者最有效的用药方案。
	我们的数据主要来源于美国的公共数据库(TCGA)，包括了主要的癌症种类，共33种。我们通过采用云计算平台和Amazon的Redshift技术，收集和整理了TCGA的数据，解决了大数据的应用和贮存问题。
	</font></p>
	<p><font style="font-size:16px" face="Arial" color="000000">数据分析分为三个步骤： 1）上传数据； 2)比较分析; 3)列出比较结果。	
	</font></p>		
	</td></tr>
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>
	<tr><td style="PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px"><p><font style="font-size:16px" face="Arial" color="000000">
	1. 上传数据 - 请输入您的样品相关信息: </font></p></td></tr>
	<tr><td style="PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px">		
		<table width = "100%" border = "0">
		<tr><td style="PADDING-RIGHT: 0px; PADDING-LEFT: 30px">
		数据文件:<input type="text" name="filename" value="" size = "44">	
		</td><td style="PADDING-RIGHT: 0px; PADDING-LEFT: 10px">数据类型:<select name="datatypelist" style = "width: 95px">
  		<option>基因组序列</option>
  		<option>DNA甲基化</option>
		<option>微小RNA表达量</option>
		<option>mRNA表达量</option>
		<option>蛋白质图谱</option>
		<option>DNA单核苷酸变异</option>
		<option>DNA拷贝数变异</option>
		</select>
		</td>
		<td style="PADDING-RIGHT: 0px; PADDING-LEFT: 10px">吸烟史:&nbsp&nbsp&nbsp&nbsp<select name="smokelist" style = "width: 95px">
  		<option>Non-smoker</option>
 		<option>Smoker For <= 15 Years</option>
 		<option>Smoker For > 15 Years</option> 		
		<option>N/A</option>
		</select>
		</td><td style="PADDING-RIGHT: 0px; PADDING-LEFT: 10px">性别:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select name="genderlist" style = "width: 80px">
  		<option>男</option>
  		<option>女</option>  		
		</select>
		</td></tr>
		<tr><td style="PADDING-RIGHT: 0px; PADDING-LEFT: 30px">		
		癌症类型:<select name="sicktypelist" style = "width: 292px">  		 
 		<option>急性髓系白血病[LAML]</option>
		<option>肾上腺皮质癌[ACC]</option>
		<option>膀胱尿路上皮癌[BLCA]</option>
		<option>脑低级神经胶质瘤[LGG]</option>
		<option>乳腺浸润性癌[BRCA]</option>
		<option>宫颈癌[CESC]</option>
		<option>胆管癌[CHOL]</option>
		<option>结肠癌[COAD]</option>
		<option>食管癌[ESCA]</option>
		<option>胶质母细胞瘤[GBM]</option>
		<option>头颈部鳞状细胞癌[HNSC]</option>
		<option>肾嫌色[KICH]</option>
		<option>肾透明细胞癌[KIRC]</option>
		<option>肾乳头细胞癌[KIRP]</option>
		<option>肝癌[LIHC]</option>
		<option>肺腺癌[LUAD]</option>
		<option>肺鳞癌[LUSC]</option>
		<option>淋巴肿瘤弥漫大B细胞淋巴瘤[DLBC]</option>
		<option>间皮瘤[细观]</option>
		<option>卵巢浆液性囊腺癌[OV]</option>
		<option>胰腺癌[PAAD]</option>
		<option>嗜铬细胞瘤和副神经节瘤[PCPG]</option>
		<option>前列腺癌[PRAD]</option>
		<option>直肠癌[READ]</option>
		<option>肉瘤[SARC]</option>
		<option>皮肤黑色素瘤[SKCM]</option>
		<option>胃癌[STAD]</option>
		<option>睾丸生殖细胞肿瘤[TGCT]</option>
		<option>胸腺瘤[THYM]</option>
		<option>甲状腺癌[THCA]</option>
		<option>子宫癌肉瘤[UCS]</option>
		<option>子宫内膜癌[UCEC]</option>
		<option>葡萄膜黑色素瘤[UVM]</option>
		</select>
		</td>
		<td style="PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
		生存状态:<select name="vitallist" style = "width: 95px">
  		<option>在世</option>
  		<option>过世</option>
  		<option>N/A</option>		
		</select>
		</td>
		<td style="PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
		ICD-O-3:&nbsp&nbsp<input type="text" name="icdo3" value="" size = "10">
		</td>
		<td style="PADDING-TOP: 20px;PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
		病理状态:<select name="pathlist" style = "width: 80px">
  		<option>I 期</option>
  		<option>II期</option>
		<option>III期</option>
		<option>IV期</option>  
		</select><br><br>
		</td></tr>
		</table>
	</td></tr>
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>
	<tr><td align = "left" valign = "center" style="PADDING-RIGHT: 20px; PADDING-LEFT: 10px">
	<p><font style="font-size:16px" face="Arial" color="000000">2.比较分析 - 请输入您的比较条件: 
	</font></p></td></tr>	
	<tr><td style="PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px">		
		<table width = "100%" border = "0">
		<tr><td width = "43%" style="PADDING-RIGHT: 0px; PADDING-LEFT: 30px">
		基因名称及变异名称(多个基因用分号隔开)：</td>
		<td width = "39%" style="PADDING-RIGHT: 0px; PADDING-LEFT: 10px"><input type="text" name="genename" value="" size = "42"><input type="submit" value="Lookup">	
		</td><td style="PADDING-RIGHT: 0px; PADDING-LEFT: 12px">性别:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select name="genderlist" style = "width: 80px">
  		<option>男</option>
  		<option>女</option>  		
		</select>
		</td></tr>
		<tr><td style="PADDING-RIGHT: 0px; PADDING-LEFT: 30px">		
		吸烟史:&nbsp&nbsp&nbsp&nbsp<select name="smokelist" style = "width: 292px">  		 
 		<option>Non-smoker</option>
 		<option>Smoker For <= 15 Years</option>
 		<option>Smoker For > 15 Years</option> 		
		<option>N/A</option>
		</select>
		</td>
		<td style="PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
			<table>
			<tr><td>生存状态:<select name="vitallist" style = "width: 95px">
  				<option>在世</option>
  				<option>过世</option>
  				<option>N/A</option>		
				</select>
			</td>
			<td style="PADDING-RIGHT: 0px; PADDING-LEFT: 10px">
			ICD-O-3:&nbsp&nbsp<input type="text" name="icdo3" value="" size = "10">
			</td></tr>
			</table>
		</td>
		<td style="PADDING-TOP: 20px;PADDING-RIGHT: 0px; PADDING-LEFT: 12px">
		病理状态:<select name="pathlist" style = "width: 80px">
  		<option>I 期</option>
  		<option>II期</option>
		<option>III期</option>
		<option>IV期</option>  
		</select><br><br>
		</td>	
		</table>
	</td></tr>
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>
	<tr><td align = "left" valign = "center" style="PADDING-RIGHT: 20px; PADDING-LEFT: 10px">
	<p><font style="font-size:16px" face="Arial" color="000000">3.比较结果: <br><br>
	注意：您需要成为我们的注册用户，才可以利用我们提供的分析工具。
	<table width = "880">
		<tr><td style="PADDING-RIGHT: 20px; PADDING-LEFT: 30px">
		<li>个人用户，每年5000元，适用于从事科研和教学的用户。 提供数据查找工具，但限流量。
		<li>专业用户，每年50000元，适用于提供商业服务的用户，提供数据查找工具，专业的分析工具，无流量限制。
		</td></tr>
	</table>
	</font>
	</p>
	<p><font style="font-size:16px" face="Arial" color="000000">我们提供了各种例子供您<A href="dataintegrate.htm" TARGET="_self">参照</a>。
	
	</font>
	</p>	
	</td></tr>
	<tr><td style="PADDING-TOP: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px"><font style="font-size:22px" face="Arial" color="000099">
	联系我们:</font><br>
	<font style="font-size:16px" face="Arial" color="000000">
		sales@kopgenome.com
	</font>
	</td></tr>
	</table>
</td></tr>

<tr><td><p0 align="left">
<table width = "980">
<tr><td height = "18"></td></tr>
</table>
</td></tr>

<tr><td>
	<table width = "100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
	<tr><TD align=left height = 2 bgColor = #22B14C></TD></tr>
	<tr><td>
		<table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
		<TR><td style="PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 10px; PADDING-BOTTOM: 10px"><img src = "{% static "fend/images/logo8.jpg" %}" width = "64"></td>
		<TD><font face="Arial" style="font-size:16px" color="#000000">© 2016 Kop Genome Data, Inc.. All rights reserved.</font></TD> 		
		</tr>
		</table>
	</td></tr>
	</table>
</td></tr>

</table>
</body>
</html>
